<div class="card-wrap">
  <div class="card-fronts">
    <div class="card-front">
      <header><span class='card-text card-top'><%- escapeWithBreaks(card.top) %></span></header>
      <img src="/images/smiley/<%= card.smiley %>.png" alt="">
      <% if(card.attribution) { %>
        <aside class='card-author'><%- author.displayName %></aside>
      <% } %>
      <footer><span class='card-text card-bottom'><%- escapeWithBreaks(card.bottom) %></span></footer>
    </div>
  </div>

  <div class="page-break">&nbsp;</div>
  
  <div class="text-right">
    <%// Why do we have this weird div here? Because Chrome -sucks- has a bug with page breaks and relative positioned elements where they get progressively more cut off at the top. Boooo TODO: Report to Chrome (also it's not webkit -- Safari works great) %>
    <!--<div style='display: inline-block;overflow:hidden;vertical-align:bottom'>-->
    <div class="card-backs">
      <div class="card-back">
        <img src="/images/3CAB4F.png" class="bg">
        <img src="/images/logo.png" class="logo" alt="">
        <img src="/images/subtitle.png" class="subtitle" alt="">
      </div>
    </div>
    <!--</div>-->
  </div>
</div>

<div class="print-hidden">
  <div class="text-center">
    <p>Created by <%= author.displayName %> <abbr title="<%= card.createdAt.toISOString() %>" class="timeago"></abbr></p>

    <button class="button button-primary print" onclick="window.print();"><i class="fa fa-print"></i> Print card</button>

    <% if (user && user.id === card.author) { %>
    <a href="/cards/<%= card.uid %>/delete" class="button button-google-plus print"><i class="fa fa-close"></i> Delete card</a>
    <% } %>

    <br><br>
    <a class="button button-twitter" rel="nofollow"
        href="http://twitter.com/"
        onclick="popUp=window.open(
            'http://twitter.com/intent/tweet?text=Check out this heebie jeebies card! @zipwhaa - <%= host %>/cards/<%= card.uid %>',
            'popupwindow',
            'scrollbars=yes,width=800,height=400');
        popUp.focus();
        return false">
        <i class="fa fa-twitter"></i> share on twitter
    </a>

    <a class="button button-facebook" rel="nofollow"
        href="http://www.facebook.com/"
        onclick="popUp=window.open(
            'http://www.facebook.com/sharer.php?u=<%= host %>/cards/<%= card.uid %>',
            'popupwindow',
            'scrollbars=yes,width=800,height=400');
        popUp.focus();
        return false">
        <i class="fa fa-facebook"></i> share on facebook
    </a>

    <a class="button button-google-plus" rel="nofollow"
        href="http://www.plus.google.com/"
        onclick="popUp=window.open(
            'https://plus.google.com/share?url=<%= host %>/cards/<%= card.uid %>',
            'popupwindow',
            'scrollbars=yes,width=800,height=400');
        popUp.focus();
        return false">
        <i class="fa fa-google-plus"></i> share on google+
    </a>

    <br>
    <small>Print letter &amp; double-sided for best results.</small>

  </div>

</div>
